<!DOCTYPE html>
<html>
<head>
  <title>Data Tables</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
  font-size:14px;
  margin: 0px;
  padding: 0px;
  font-family: "Courier Prime", monospace;
  background-color: #fdfdfe;
}

h1 {
  font-size: 50px;
  font-weight: 500;
  color: #553c9a;
  border-right: 4px solid #000;
  animation: cursor 1s infinite step-end, typing 15s infinite steps(20);
  white-space: nowrap;
  overflow: hidden;
}
    .table td, .table th {
      text-align: center;
      width: 90px;
    }
    .table-fixed {
      table-layout: fixed;
    }
    .table-container {
      overflow-x: auto;
      max-width: 100%;
    }
    .table-header {
      background-color: darkblue;
      color: white;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <a href="/menu" class="ml-0">↩ Menu</a>
  <div class="container">
    <% const currentDate = new Date(); %>
    <% const currentMonth = currentDate.getMonth(); %>
    <% const months = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']; %>

    <% const categories = [
      { title: '🛢️ Óleo', data: arrayOleo },
      { title: '📮 Filtro', data: arrayFiltro },
      { title: '🔋 Bateria', data: arrayBateria },
      { title: '☢️ Contaminado', data: arrayContaminado }
    ]; %>

    <% function getFileLink(id) {
      return ` https://drive.google.com/file/d/${id}/view?usp=drive_link`;

 
    } %>
   

    <% categories.forEach(category => { %>
      <div class="table-container">
        <table class="table table-bordered table-fixed">
          <thead>
            <tr class="table-header">
              <h5 class="mt-3"><%= category.title %></h5>
              <% months.forEach((month, index) => { %>
                <th><%= month %></th>
              <% }); %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% months.forEach((month, index) => { %>
                <% const monthData = category.data.find(item => item.name.includes(`${month}_`)); %>
                <td>
                  <% if (index <= currentMonth && monthData) { %>
                    <a href="<%= getFileLink(monthData.id) %>" target="_blank">✔️</a>
                  <% } else { %>
                    ❌
                  <% } %>
                </td>
              <% }); %>
            </tr>
          </tbody>
        </table>
      </div>
    <% }); %>
  </div>
</body>
</html>



