<!DOCTYPE html>
<html>
<head>
  <title>Tutorial Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>

     h4{
      padding-top: 20px;
      text-align: center;
      padding-bottom: 20px;
   }
    .sidebar {
      background-color: #f8f9fa;
      height: 100vh;
      width: 200px
    }
    
    .content {
      padding: 20px;
    }
    
    .centered-title {
      text-align: center;
    }
    
    .logo-image {
      width: 80px;
      height: 40px;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 sidebar">
        <h4>Tutorial Menu</h4>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/menu">↩ Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/toleo">🛢️ Óleo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tfiltro">💨 Materiais filtrantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tbateria">🔋 Bateria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tcontaminados">☢️ Materias contaminados em geral</a>
          </li>
        </ul>
      </div>  
      <div class="col-sm-9 content">
        <h1 class="centered-title">Pateo Hyundai <%= filial %></h1>
        <img class="logo-image mt-4 mb-4" src="https://res.cloudinary.com/diz14smvb/image/upload/v1675450060/favicon.io_igs8gn.png" alt="logo Pateo">
        <p> ➊ Para garantir uma coleta devidamente documentada e dentro das normas legais, é necessário realizar o envio de dois documentos essenciais: o canhoto de recolhimento e o MTR (Manifesto de Transporte de Resíduos). Além disso, é importante juntar ambos em um único arquivo PDF para facilitar o processo de envio e arquivamento.<br>

         <br>➋ O canhoto de recolhimento é o documento fornecido no ato da coleta, geralmente pela empresa responsável pela destinação adequada dos resíduos. Ele possui informações importantes, como o número da coleta, a data e horário em que o material foi recolhido, assim como dados do transportador.
          
         <br><br>➌ Já o MTR é um documento legalmente obrigatório para o transporte de resíduos. Ele contém informações detalhadas sobre a origem, o destino e a natureza dos resíduos que estão sendo transportados. O MTR é emitido pelo gerador do resíduo e deve ser entregue ao transportador antes do início do transporte. Esse documento é fundamental para o controle e rastreabilidade dos resíduos, garantindo que sejam tratados e descartados corretamente.<br>
        <br>➍ É importante ressaltar que, no ato do recolhimento, é imprescindível entregar o MTR para o motorista responsável pelo veículo que realizará o transporte dos resíduos. Essa entrega garante que o transportador esteja ciente das informações contidas no manifesto e possa cumprir adequadamente todas as etapas do transporte, desde a coleta até a destinação final.</p>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
