<!DOCTYPE html>
<html>
<head>
  <title>Tutorial Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>

     h4{
      padding-top: 20px;
      text-align: center;
      padding-bottom: 20px;
   }
    .sidebar {
      background-color: #f8f9fa;
      height: 100vh;
      width: 200px
    }
    
    .content {
      padding: 20px;
    }
    
    .centered-title {
      text-align: center;
    }
    
    .nature-image {
      width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 sidebar">
        <h4>Tutorial Menu</h4>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/menu">↩ Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tutorial">↩ Tutorial</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-9 content">
        <h1 class="centered-title">Pateo Hyundai  <%= filial %>     </h1>
        
        <p class="mt-5">Materiais contaminados referem-se a todos os resíduos que geramos em nossas oficinas/lojas e que exigem descarte apropriado, 
          seguindo todas as legislações pertinentes. Alguns exemplos desses materiais incluem,<b> papelão contaminado</b> , <b>água 
          contaminada</b> proveniente dos separadores óleo/água e <b>sucatas metálicas</b>.</p>
        </p>

        <img class="nature-image mt-3" src="https://res.cloudinary.com/diz14smvb/image/upload/v1689604628/WhatsApp_Image_2023-07-17_at_11.30.15_rcaaoz.jpg" alt="logo_Pateo">

        <img class="nature-image mt-5" src="https://res.cloudinary.com/diz14smvb/image/upload/v1689604628/WhatsApp_Image_2023-07-17_at_11.29.30_uktj0h.jpg" alt="logo_Pateo">

        <img class="nature-image mt-5" src="https://res.cloudinary.com/diz14smvb/image/upload/v1689604628/WhatsApp_Image_2023-07-17_at_11.34.22_tczlz7.jpg" alt="logo_Pateo">
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>