<!DOCTYPE html>
<html>
<head>
  <title>Tutorial Óleo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
body {
  margin: 0px;
  padding: 0px;
  font-family: "Courier Prime", monospace;
  background-color: #fdfdfe;
}

     h4{
      padding-top: 20px;
      text-align: center;
      padding-bottom: 20px;
   }
    .sidebar {
      background-color: #f8f9fa;
      height: 350vh;
      width: 200px
    }
    
    .content {
      padding: 20px;
    }
    
    .centered-title {
      text-align: center;
    }
    
    .oleo-image {
      width: 150px;
      height: 230px;
    }

    .tuto-image {
     width: 800px;
     height: 400px;
    }

    .tuto-image1 {
     width: 850px;
     height: 550px;
    }

    .tuto-image3 {
     width: 830px;
     height: 450px;
    }

    .tuto-image2 {
     width: 800px;
     height: 200px;
    }


  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 sidebar">
        <h4>Tutorial Óleo usado</h4>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/menu">↩ Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tutorial">↩ Tutorial</a>
          </li>
        </ul>
        <img class="oleo-image mt-5 ml-5" src="https://res.cloudinary.com/diz14smvb/image/upload/v1690372320/image-removebg-preview_ko5zhz.png" alt="5w30">
      </div>
      <div class="col-sm-9 content">
      
        <h1 class="centered-title">Pateo Hyundai  <%= filial %>    </h1>
        
        <p class="mt-3">Para realizar o envio da MTR entre no site  do    <a href="https://mtr.sinir.gov.br/#/inicio" target="_blank">SINIR</a> !</p>
        <img class="tuto-image mt-5 ml-5" src="https://res.cloudinary.com/diz14smvb/image/upload/v1690373042/sinir_cadastrarmodelo_vh8j4z.png" alt="5w30">
       <p class="ml-4">Primeiro passo vamos criar um Modelo de MTR para Óleo.<br>
        vá até <b>"Cadastrar ou Editar Modelo do MTR"</b></p>
<br><br><br><br>
       <p class="ml-4"> Preencha todas as informações necessárias,
         que podem ser encontradas no Canhoto deixado pela empresa responsável pela coleta!</p>
       <img class="tuto-image1 mt-5 ml-5" src="https://res.cloudinary.com/diz14smvb/image/upload/v1690373869/tutorial_oleo_h7vs1z.png" alt="5w30"> 

<br><br><br><br>
       <p class="mt-4 mb-4">Com o Modelo pronto vá até <b>"Novo MTR usando Modelo"</b>
      <br> E escolha o Modelo que você criou! No meu caso <b>ÓLEO USADO</b>
      </p>
       <img class="tuto-image3 mt-5 ml-5" src="https://res.cloudinary.com/diz14smvb/image/upload/v1690374278/tuto2_oleo_j0kf9r.png" alt="c72f3fdfc4d625e18fa707fc752b50a7.jpeg" border="0">
       

       <br><br><br>
       <P class="ml-4"> Muita atenção nessa parte aqui estamos usando um exemplo com uma coleta de <b>1000 L</b>
       <img class="tuto-image2 mt-2 ml-5" src="https://res.cloudinary.com/diz14smvb/image/upload/v1690374523/regra3tuto_oleo_j57zax.png" alt="30e0668fbbfaf1e215141b8ee8a3b44b.jpeg" border="0">   
       <P class="ml-4 mt-4"> 
                
                              Matematica básica tenho 1000L com densidade de 0,89 
                              é multiplicarmos 1000L   X  0,89kg/m³ = 890 KG
<br>
</p>  <div class="text-center mt-3">  <p> 
                    
          
                              1000 kg --------- 1 TON <br>
                              890  kg ---------- x TON <br>
                              x = 0,89 TON
       </P></div>

      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
